@font-face {
  font-family: 'Venus Rising';
  src: url(‘../fonts/venus_rising.ttf’);
  src: local('?'), 
  url('venus_rising.ttf') format('ttf')
}

@font-face {
  font-family: 'Bitsumishi';
  src: url(‘../fonts/bitsumis.ttf’);
  src: local('?'), 
  url('bitsumis.ttf') format('ttf')
}


body
{
	font-family:'Bitsumishi', 'Venus Rising', Arial, sans-serif; 
	font-size:10px;
 	background-color:black;
  padding: 0px;
  margin:0px;
  -webkit-user-select: none;
  /*text-shadow:0px 0px 3px black;*/
  color: cyan;
  overflow: hidden;
  white-space: nowrap;
 /* pointer-events:visiblePainted ;*/

 }

 #interface{
  /*display: -webkit-inline-flex;*/
  display: flex;
  -webkit-flex-direction: column;
 -webkit-align-content: flex-start;
 /*width: auto;*/
 	/*float: left;*/
 	padding: 7px;
  margin: 0px;
	position: absolute;
	z-index: 1;
  /*width: 100%;*/
  /*height: 100%;*/
  pointer-events:none;
   /* pointer-events:visiblePainted ;*/
 }

 #world_ui{
  /*float: left;*/
  padding: 0px;
  margin: 0px;
  position: absolute;
  z-index: 1;
  width: 0px;
  height: 0px;
  /*width: 100%;
  height: 100%;*/
  /*pointer-events:none;*/
  /* display: inline-block;*/
  /*pointer-events:visiblePainted ;*/
  /*display: block;
  top:0px;
  left: 0px;
  width: 0px;
  height: 0px;*/
 }

 #webgl_surface{
	width: 100%;
	height:100%;
	z-index: 0;
  position: absolute;
  /*visibility: hidden;*/
}

 a{
 	color: lime;
 	-webkit-transition:all 0.4s ease;
 	display: inline-block;
 }
 a:hover{
 	color:white;
 	-webkit-transform:translateX(7px);
 }

 input[type=color]{
 	background-color: transparent;
 	padding: 0px;
 	margin: 0px;
 	border: none;
 	height: 16px;
 	outline:none;
 	color: transparent;
 	width: 200px;
	-webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
 }

 summary{
  outline:none;
}

input[type=color]:focus {
	outline: none;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important;
	box-shadow: none !important; 
	border: none;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: green;
  width: 200px;
  height:1px;
  outline:none;
  opacity: 0.5;
  -webkit-transition:all 0.2s ease;
   /*-webkit-transform:rotate(7deg);*/

}
input[type=range]:hover{
	opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   background-color: lime;
   width: 10px;
   height: 3px;
   -webkit-transition:all 0.2s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
   background-color: white;
   width: 20px;

}

meter{
	width: 200px;
}

.beacon{
  width: 14px; 
   height: 14px; 
   /*background: red;*/
   border: 1px dashed green;
   /*border-style:solid;*/
   /*margin: 13px 0 0 13px;*/
   margin: 0px;
   padding: 0px;
   -webkit-transform: rotate(-45deg);
   /*-webkit-transform-origin: 0 100%;*/
   -webkit-transition:all 0.4s ease;
   position: relative;
   left: -8px;
  top: -8px;
  /*-webkit-box-shadow: none;*/
 /* border-radius: 7px;*/
  /*text-shadow:none;*/
}
.beacon:hover{
  /*-webkit-box-shadow: 0px 0px 3px lime;*/
  border: 1px solid lime;
  -webkit-transform: scale(1.3,1.3);
}

.tip {
  position: relative;
}

.tip span {
  display: none;
  position: absolute;
  top: 20px;
  left: -10px;
  width: 125px;
  padding: 5px;
  z-index: 100;
  background: rgba(0,0,128, .33);
  color: #fff;
  -webkit-border-radius: 5px; /* this is just for Safari */
}

.starmap_item:hover.tip span {
  display: block;
}

.signature{}

.starmap_item{

  font-family:serif; 
  font-size:10px;
  /*font-stretch: expanded;*/
  text-align: center;

  margin:0px;
  -webkit-user-select: none;
  /*text-shadow:0px 0px 3px black;*/
  color: rgba(0,0,255,.3);
  
  /*position: relative;*/
  position: absolute;
  /*-webkit-transition:all 0.4s ease;*/
  -webkit-transition:color 0.4s ease;
 
  width:80px;

  left: -40px;
  top: 10px;

   /*border-color: blue;
   border-style: solid;
   border-width: 0 0;*/


   /*-webkit-font-smoothing: none;*/
  /*-webkit-font-smoothing: antialiased;*/

  /*-webkit-font-smoothing: subpixel-antialiased;*/

   /*-webkit-transform-style: preserve-3d; */
  /*background-color: rgba(0,0,0,0.3);
  border-radius: 3px 3px 3px 3px;*/
 
  /*transition: <property> || <duration> || <timing-function> || <delay> [, ...];
  -webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s; */
}
.starmap_item:hover{
  color:white;
   /*-webkit-transform: perspective(1px) scale(1.3);*/
   /*border-width: 2px 0;*/
 }

.starmap_item_parent{
  padding: 0px;
  margin:0px;
  width:0px;
  height: 0px;
  position: absolute;
  text-align: center;
  display: block;
  -webkit-transition:opacity 0.444s ease;
}
/*.starmap_item_parent:hover{
  -webkit-transform:scale(3,3);
}*/



.panel{
  text-align: center;
  /*font-size: 14px;*/
  margin: 7px;
  padding:3px;
  /*background-color: rgba(0,0,0,.33);*/
 
  border-radius: 27px 3px 27px 3px;
  box-shadow: 0 0 7px rgba(0,0,0,.33);
  color: white;
  background: -webkit-linear-gradient(left  ,rgba(0,0,255,.33), transparent);
  /*border:1px 0 1px 0 solid blue;*/
  /*-webkit-border-image:-webkit-linear-gradient(left top, blue , transparent);*/
  /*width: 100%;*/
  /*display: inline-block;*/
  width: auto;
  
  /*display: flex;*/
   /* flex-flow: row wrap;*/
    /*align-content: center;*/
  text-shadow:0px 0px 3px black;

  border-color: blue;
  border-style: solid;
  border-width: 1px 0px;
}

.darkpanel{
   font-family: Arial, sans-serif;
   font-size: 12px;
  /*text-align: center;*/
  align-items: center;
  /*display: -webkit-inline-flex;*/
  display: flex;
  -webkit-flex-direction: row;
 -webkit-align-content: flex-start;
  /*-webkit-border-image: -webkit-linear-gradient(left, blue, transparent);*/
 border-color: rgba(0,0,248,.77);
  margin: 7px 7px ;
  /*margin-left: 7px; margin-top: 7px; margin-bottom: 7px; margin-right: 700px;*/
  padding:17px 17px 17px 17px;
  /*border-radius: 3px 17px 3px 17px;*/
  /*border-radius: 3px 17px 333px 33px;*/
  /*border-radius: 7px 0px 0px 7px;*/
  border-radius: 33px 7px 7px 7px;
  /*box-shadow: -4px -4px 7px rgba(0,0,0,.33);*/
  /*color: white;*/
  background: -webkit-linear-gradient(left, rgba(0,0,0,.33), transparent);
  
  /*border-color: blue;*/
  border-style: solid;
  /*border-width: 1px 0px;*/
  border-right-width: 0px;
  border-left-width: 3px;
  border-top-width: 2px;
  border-bottom-width: 1px;

  -webkit-transition: all .222s ease;
  /*overflow: hidden;*/
  -webkit-transform-origin: 0% 0% 0;
  
  /*width: auto;*/
}

sub{
  font-size: 10px;
}

.subtext{
  font-family: Arial, sans-serif; 
  font-size: 12px;
  color: cyan;
  margin: 3px;
}

.item{
  
  font-family: 'Venus Rising',Arial, sans-serif; 
  background: -webkit-linear-gradient(rgba(0,0,128,.33),  rgba(222,233,244,.11), transparent);
  text-shadow:3px 3px 7px rgba(0,0,0,.66);
 /*background: -webkit-linear-gradient(rgba(0,0,128,.33), transparent, rgba(248,248,248,.11));*/
  color: rgba(255,255,255, .88);
  font-weight: normal;
  font-size: 14px;
  display: flex; 
  text-align: center;
  flex-direction:  column ;
  justify-content: center;
  border-radius: 3px 17px 3px 17px;
  align-items: center;
  /*width: 77px;*/
  /*height: 77px;*/
  margin: 13px;
  padding: 4px;
  -webkit-transition:all .222s ease;
  z-index: 30;
  pointer-events:auto;
  box-shadow: 3px 3px 13px rgba(0,0,0,.33);
  /*
  flex-direction: row | row-reverse | column | column-reverse;
  'Bitsumishi', 
  */
}
.item:hover{
  /*box-shadow: 1px 1px 17px rgba(0,0,255,.33);*/
/*  box-shadow: 1px 1px 13px rgba(248,248,248,.33);*/
  border-color: rgba(0,128,248,.88);
  -webkit-transform: scale(1.07, 1.07);
}
.item:active{
  -webkit-transform: scale(.93, .93);
}

.flexcontainer {
   display: -webkit-flex;
   -webkit-flex-direction: row;
}

.row{
  -webkit-flex-direction: row;
}

#infopanel{
 /* height: 800px;*/
  /*width: 300px;*/
  pointer-events:visiblePainted ;
  width: 100%;
  z-index: 10;
   /*position: absolute;*/
/*display: flex; align-items: center;*/

}

#actions{
  pointer-events:visiblePainted ;
 /* height: 800px;*/
  /*width: 300px;*/

  width: auto;
  z-index: 10;
  display: inline-block;  
  -webkit-transition:all 0.4s ease;
   /*position: absolute;*/
  /*display: flex; align-items: center;*/
  /*-webkit-perspective: 500px;
  perspective: 150px;*/
}

.uibutton{
  font-family:'Bitsumishi', 'Venus Rising', Arial, sans-serif;
  letter-spacing:1px;
  margin: 3px 7px 3px 7px;
  padding: 3px;
  box-shadow: 1px 1px 7px rgba(0,0,0,.33);
  width: 133px;
  -webkit-transition:all 0.222s ease;
}
.uibutton:hover{
  box-shadow: 0px 0px 13px rgba(0,128,248,.88);
  /*-webkit-transform:translateY(1px);*/
}
.uibutton:active{
  -webkit-transform:scale(.88,.88);
}

.action
{
  font-family:Arial, sans-serif;
  border-color: rgb(0,0,222);
   border-style: solid;
   border-width: 1px 0px;
  color: cyan;
  margin: 17px 4px;
  padding: 4px 33px;
  box-shadow: 1px 1px 7px rgba(0,0,0,.33);
  width: 200px;
  /*height: 12px;*/
  -webkit-transition: -webkit-transform 0.333s, height .222s, width .222s, opacity 1s, border-color .222s;
  overflow: hidden;
  border-radius: 3px 27px 3px 27px;
  /*animation: new-item-animation .3s linear forwards;*/
  opacity: 1;
  -webkit-transform-origin: 0% 0% 0;
}
.action:hover{
  -webkit-transform: translateX(20px);
  border-color: blue;
}

.action_minimal{
  height: 17px;
  width: 117px;
}

.center{
  /*display: block;*/
 /* text-align: center;*/
  /*margin-left: auto;
    margin-right: auto;*/
    /*background-color: "red";*/
    /*position: relative;*/
   /* padding: 40px;*/
    /*z-index: 30;*/
    /*border:3px solid black;*/
    /*width: 100%;*/
}

.commandbar{
  font-family:'Bitsumishi', 'Venus Rising', Arial, sans-serif; 
  font-size: 12px;
  /*display: -webkit-inline-flex; */
  /*align-content:flex-end;*/
  /*-webkit-align-content:center;*/
/*text-align: center;*/
 /* align-items: center;*/
  pointer-events:visiblePainted ;
  /*width: 100%;*/
  z-index: 10;
  /*width: auto;*/
  /*margin: 7px;*/

}

.eontitle{
  margin-left: 17px;
  margin-right: 17px;
}

.show {
  /*height: 40px;*/
  opacity: 1;
    /*width: 0px;
    height: 0px;
    opacity:0;
    margin:0;
    padding:0;*/

}

.resource{
  border-radius: 3px 17px 3px 17px;
  width: 77px;
  height: 77px;
}

.circular{
  border-radius: 300px 300px;
   width: 77px;
   height: 77px;
}

.sample{
  /*border-radius: 77px 17px 77px 17px;*/
   border-radius: 17px 17px 333px 17px;
  width: 77px;
 /*width: auto;*/
  height: 77px;
}

.collapse_y{
  -webkit-transform: scale(1, 0);
  /*-webkit-transform-origin: 0% 0% 0;*/
  opacity: 0;
  /*height: 0px;
  padding: 0px;
  margin: 0px;*/
}
.expand_panel{
  height: auto;
}
.expand_y{
  -webkit-transform: scale(1, 1);
}

.expand {
/*  height: 200px;*/

  /*width: 400px;*/
  height: auto;
  border-color: blue;
  -webkit-transform:scale(1,1);
  opacity: 1;
    /*-webkit-transform: rotate(360deg);*/
  /*  height: 0px;
    opacity:0;
    margin:0;
    padding:0;*/
    /*-webkit-transform: rotateY(20deg);*/
}

.fade{
  opacity: 0;
}

details{
  font-size: 14px;
  border: 0px solid blue;
  margin: 0px;
  padding: 2px;
  background-color: rgba(0,0,0,.33);
  background: -webkit-linear-gradient(left top ,rgba(0,0,255,.66), transparent);
}
summary{
  border: 0px solid blue;
  margin: 2px;
  padding: 2px;

  background: -webkit-linear-gradient(left top ,rgba(0,0,255,.66), transparent);
}

.tech{
  border-radius: 3px 3px 17px 17px;
  /*border-radius: 333px 333px 3px 3px;*/
  width: 120px;
  height: 47px;
}



.diamond {
   /*width: 80px; 
   height: 80px; */
 
   -webkit-transform: rotate(-45deg);
  
}


/*li.new-item {
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}
 
@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateX(400px);
}
 
    to {
        opacity: 1;
        transform : translateX(0);
    }
}

li.removed-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;

    transform-origin: 0% 100%;
}
 
@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }

}


 -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;

.hex_slot{
  margin:0px;
  background-color: rgba(0,0,0,.33);
  -webkit-transition:all 0.4s ease;
  box-shadow: 0 0 3px black;
}
.hex_slot:hover{
  /*-webkit-transform:scale(1.2);
  -webkit-transform: perspective(1px) scale(1.2);
}
  
#hexagon {
 width: 100px;
 height: 55px;
 background: rgba(0,0,0,.33);
 position: relative;
 -webkit-transition:all 0.4s ease;
 box-shadow: 0 0 3px black;
 margin: 120px;
}

.diamond {
   width: 80px; 
   height: 80px; 
   background: rgba(0,0,255,.33)
   border: 2px solid blue;
   /*margin: 13px 0 0 13px;
   margin: 30px;
   -webkit-transform: rotate(-45deg);
   /*-webkit-transform-origin: 0 100%;
   -webkit-transition:all 0.4s ease;
}
.diamond:hover{
  /*-webkit-transform:scale(1.2);
  -webkit-transform: perspective(1px) scale(1.3);
}
















*/